<nav class="navbar sticky-top bg-light navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse my-2" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
