<nav class="collapse sidebar d-lg-block bg-light" id="sidebar">
  <div class="position-sticky">
    <ul class="list-group">
      <div class="list-group-item py-2">
        <a href="#"><span>My account</span></a>
      </div>
      <div class="list-group-item py-2">
        <a href="#"><span>My purchases</span></a>
      </div>
      <div class="list-group-item py-2">
        <a href="#"><span>Support</span></a>
      </div>
      <div class="list-group-item py-2">
        <a href="#"><span>Settings</span></a>
      </div>
      <div class="list-group-item py-2">
        <a href="#"><span>Log out</span></a>
      </div>
    </ul>
  </div>
</nav>
